@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font-header: 'Passion One', sans-serif;
    --font-conteudo: 'Sriracha', cursive, sans-serif;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}
header h1{
    padding-top: 50px;
    font-family: var(--font-header);
    font-size: 10vw;
    font-variant: small-caps;
}
header p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    font-family: var(--font-conteudo);
    font-size: 2.5vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 20px;
    line-height: 2em;

}
section.img{
    background-color: rgba(0, 0, 0, 0.384);
    color: white;
    box-shadow: inset 7px 7px 14px rgba(0, 0, 0, 0.705);
    background-attachment: fixed;
}
section p{
    padding-bottom: 2em;
}
section.img > p{
    background-color: rgba(0, 0, 0, 0.26);
    display: inline-block;
    padding: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.432);
}
section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;

}
section#img02{
    background-image: url(imagens/background002.jpg);
    background-size: cover;
}
.normal{
    background-color: white;
    color: black;
}


footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}


    

